:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #253237;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.both_forms{
  display: flex;
}

.file_form{
  max-width: 50%;
  margin: 10px;
  padding: 10px;
  border: #9db4c0 1px solid;
  border-radius: 20px;
}